.card{
  margin-bottom: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #c2cfd6;
  .card-header{
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f0f3f5;
    border-bottom: 1px solid #c2cfd6;
    i{
      margin-right: .7rem;
    }
  }
  .card-body, .card-block {
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  .card-footer {
      padding: .75rem 1.25rem;
      background-color: #f0f3f5;
      border-top: 1px solid #c2cfd6;
      .btn{
        margin-right: .3rem; 
        &:last-child{
          margin-right: 0;
        }
      }
  }
}